fieldset#questform {
    background-color: #EDFFE4;
}

#questform input,
#questform textarea,
#questform label {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    clear: both;
}

#questform label input,
#questform label select {
    float: right;
    width: initial;
    display: initial;
}

#questform .editlist span {
    margin-left: 1em;
}

#questform fieldset.prerequisites,
#questform fieldset.requirements,
#questform fieldset.rewards,
#questform fieldset.convo {
    display: inline-block;
    vertical-align: top;
}

#questform fieldset.prerequisites {
    width: calc(25% - 30px);
    background-color: #CCD2FF;
}

#questform fieldset.requirements {
    width: calc(50% - 30px);
    background-color: #FFC8C8;
}

#questform fieldset.requirement {
    background-color: #FF9D9D;
}

#questform fieldset.rewards {
    width: calc(25% - 30px);
    background-color: #D1FFEC;
}

#questform fieldset.convo {
    width: calc(50% - 30px);
    background-color: #FFF6D4;
}

#questform fieldset.screen {
    background-color: #EAEEFF;
}

#questform fieldset.choice {
    background-color: #D2FAFF;
}